@charset "UTF-8";
/* List
*/
ol { list-style: none; counter-set: list; display: inline-block; margin: 0 auto; }
ol li { height: 50px; line-height: 50px; margin: 10px 0; position: relative; padding-left: 40px; counter-increment: list; }
ol li::before {
    content: counter(list);
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0;
    font-size: 2em;
}

/*
Icon
*/
.icon { display: inline-block; width: 1.7em; height: 1.7em; margin-right: 0.8em; box-sizing: content-box; }
.icon img { width: 100%; height: 100%; object-fit: cover;; }
.icon-sm { width: 1em; height: 1em; flex: 0 0 1em; }
.icon-lg { width: 2em; height: 2em; flex: 0 0 2em; }
.icon-xl { width: 3em; height: 3em; flex: 0 0 3em; }
.icon-circle { border-radius: 50%; border: 1px solid #888; padding: 5px; }

/*
Text
green: 00aa69
*/
.bold { font-weight: 600; }
.bolder { font-weight: 900; }

.fx-n1 { font-size: 0.9em !important; }
.fx-n2 { font-size: 0.85em !important; }

.fx-1 { font-size: 1.1em !important; }
.fx-2 { font-size: 1.2em !important; }
.fx-3 { font-size: 1.5em !important; }
.fx-4 { font-size: 1.7em !important; }
.fx-5 { font-size: 2.0em !important; }

.text-muted { color: #777!important; }
.text-gray { color: #454545!important; }
.text-green { color: #00aa69!important; }
.text-white { color: #fff!important; }

.bg-green { background-color: #00aa69!important; }
.bg-white { background-color: #fff!important; }
.bg-none { background: none!important; }

.text-shadow { text-shadow: 0 0 3px #000000aa; }
.text-center { text-align: center; }

@font-face {
    font-family: "나눔스퀘어";
    font-weight: normal;
    src: url(../fonts/NanumSquareR.ttf);
}
@font-face {
    font-family: "나눔스퀘어";
    font-weight: bold;
    src: url(../fonts/NanumSquareB.ttf);
}

:lang(ko) { font-family: "나눔스퀘어"; }
:lang(en) { font-family: "Segoe UI"; }

/* 기본값
*/

*, ::before, ::after { margin: 0; padding: 0; box-sizing: border-box; }
body { scroll-behavior: smooth; }
a, label, button { cursor: pointer; user-select: none; color: inherit; }
a, a:hover { text-decoration: none; color: inherit; }
p { word-break: keep-all; line-height: 1.7em; }
.container { max-width: 1140px; margin: 0 auto; position: relative; }
.container-xl { max-width: 1680px; margin: 0 auto; position: relative; }
.container-fluid { max-width: 100%; margin: 0 auto; position: relative; }
::-webkit-scrollbar { display: none; }

.grayscale { filter: grayscale(100%); }
.grayscale-50 { filter: grayscale(100%) brightness(50%); }

.bright-50 { filter: brightness(50%); }
.bright-150 { filter: brightness(150%); }
.bright-200 { filter: brightness(200%); }
.bright-500 { filter: brightness(500%); }

.w-100 { width: 100%; }
.w-33 { width: 33.333333% }
.w-30 { width: 30% }
.w-25 { width: 25%; }
.w-20 { width: 20%; }
.h-100 { height: 100%; }

.grid { display: flex; flex-wrap: wrap; max-width: 100%; overflow: hidden; justify-content: space-between; }

.grid-100 { background-color: #fff; margin-top: 5px; margin-bottom: 5px; min-height: 50px; padding: 20px; flex: 0 0 100%; max-width: 100%; }
.grid-70  { background-color: #fff; margin-top: 5px; margin-bottom: 5px; min-height: 50px; padding: 20px; flex: 0 0 calc(70% - 5px);     max-width: calc(70% - 5px); }
.grid-60  { background-color: #fff; margin-top: 5px; margin-bottom: 5px; min-height: 50px; padding: 20px; flex: 0 0 calc(60% - 5px);     max-width: calc(60% - 5px); }
.grid-50  { background-color: #fff; margin-top: 5px; margin-bottom: 5px; min-height: 50px; padding: 20px; flex: 0 0 calc(50% - 5px);     max-width: calc(50% - 5px); }
.grid-40  { background-color: #fff; margin-top: 5px; margin-bottom: 5px; min-height: 50px; padding: 20px; flex: 0 0 calc(40% - 5px);     max-width: calc(40% - 5px); }
.grid-33  { background-color: #fff; margin-top: 5px; margin-bottom: 5px; min-height: 50px; padding: 20px; flex: 0 0 calc(33.333% - 5px); max-width: calc(33.333% - 5px); }
.grid-30  { background-color: #fff; margin-top: 5px; margin-bottom: 5px; min-height: 50px; padding: 20px; flex: 0 0 calc(30% - 5px);     max-width: calc(30% - 5px); }
.grid-25  { background-color: #fff; margin-top: 5px; margin-bottom: 5px; min-height: 50px; padding: 20px; flex: 0 0 calc(25% - 5px);     max-width: calc(25% - 5px); }

.has-sub-grid { display: flex; flex-direction: column; justify-content: center; padding: 0; background: none; }
.sub-grid { background-color: #fff; margin: 0; padding: 20px; width: 100%; }

.border { border: 1px solid #ddd; }
.border-left-0 { border-left: 0; }

.grid-title { display: flex; align-items: flex-end; color: #333;  }
.grid-title h1 { font-size: 1.1em; font-weight: bold; margin-right: 0.5em; }
.grid-title.accent { text-align: center; padding: 1em 0 0.5em; margin: 1.5em 0 0.5em; position: relative; flex-direction: column; align-items: center; }
.grid-title.accent h1 { font-size: 1.3em; font-weight: 600; font-family: "Segoe UI", sans-serif; margin-right: 0; margin-bottom: 1em; }
.grid-title.accent::before { content: ''; position: absolute; left: 50%; top: 0; transform: translateX(-50%); width: 50px; height: 1px; background-color: #666; }
.grid-title.text-white::before { background-color: #fff; }

.d-none { display: none; }
.d-block { display: block; }
.d-inline { display: inline; }
.d-inline-block { display: inline-block; }

.d-flex { display: flex; }
.flex-wrap { flex-wrap: wrap; }
.justify-content-between { justify-content: space-between; }
.justify-content-around { justify-content: space-around; }
.justify-content-center { justify-content: center; }
.align-items-start { align-items: flex-start; }
.align-items-center { align-items: center; }
.align-items-end { align-items: flex-end; }
.flex-column { flex-direction: column; }

.position-relative { position: relative; }
.position-absolute { position: absolute; }
.position-fixed { position: fixed; }

#wrap { max-width: 100%; position: relative; background-color: #f8f8f8; }


/* 네비게이션
*/
#nav { background-color: #00aa69; box-shadow: 0 1px 3px 1px #00000020; height: 40px; }
#nav .nav-item, #nav .other-item { color: #fff; font-size: 0.8em; line-height: 40px; height: 100%; padding: 0 20px; }
#nav .other-item { color: #fffc; }
#nav .nav-item:hover, #nav .other-item:hover { background-color: #058a57; color: #fff; }
#nav .split {
    height: 10px;
    width: 1px;
    background-color: #fff7;
}

/* 헤더
*/

#header { height: 140px; padding: 10px 0; box-shadow: 0 1px 3px 1px #00000020; background-color: #fff; position: relative; z-index: 101; }
#header .nav { display: flex; align-items: center; }

#header .search { background-color: #63b757; width: 450px; height: 50px; border-radius: 25px; z-index: 100; position: relative; }
#header .search-bar { position: absolute; left: 5px; top: 5px; height: 40px; width: calc(100% - 60px); padding: 5px 5px 5px 25px; font-size: 0.8em; border: none; border-radius: 25px 0 0 25px; outline: none; }
#header .search-btn { border: none; width: 40px; height: 40px; background-image: url(../images/icons/search.png); background-size: 25px 25px; outline: none;
                    background-position: center center; background-repeat: no-repeat; background-color: transparent; position: absolute; right: 10px; top: 5px;}

/* 배너 슬라이드
*/
#header .banners { position: relative; width: 240px; height: 120px; overflow: hidden; user-select: none; }
#header .banner { background-size: cover; background-position: center center; position: absolute; left: 0; top: 0; width: 100%; height: 100%; animation: bannerSlide 18s ease infinite;  }
#header .banner:nth-child(1) { animation-delay: -6s; }
#header .banner:nth-child(2) { animation-delay: -0s; }
#header .banner:nth-child(3) { animation-delay: -12s; }

@keyframes bannerSlide {
    0%          { opacity: 0; transform: translateX(-100%); }
    27.777%     { opacity: 0; transform: translateX(-100%); }
    33.333%     { opacity: 1; transform: translateX(0); }
    61.111%     { opacity: 1; transform: translateX(0); }
    66.666%     { opacity: 0; transform: translateX(100%); }
    100%        { opacity: 0; transform: translateX(100%); }
}


/* 사이드바
*/
#aside-wrap {
    position: absolute;
    right: 50%;
    top: 0;
    width: 300px;
    height: 100%;
    transform: translateX(calc(1140px / -2));
    z-index: 100;
    background-color: #fff;
    border: 1px solid #ddd;
    border-top: none;
    /* border-right: none; */
    box-sizing: content-box;
}

#aside {
    position: sticky; top: 0; 
    width: 300px;
    z-index: 100;
}

#aside .nav-item {
    position: relative;
    padding-left: 30px;
    display: flex;
    align-items: center;
    height: 45px;
    background-color: #fff;
    border: 1px solid #eee;
    border-left: none;
    border-right: none;
    /* border-right-color: #ddd; */
    font-size: 0.9em;
    transition: 0.3s;
    filter: grayscale(100%);

    background-image: url(../images/icons/to-right.png);
    background-size: 20px 15px;
    background-position: 95% center;
    background-repeat: no-repeat;
}
#aside .nav-item:first-child { border-top: none; }
#aside .nav-item:last-child { border-bottom: none; }

#aside .nav-item > a { color: #4a9b3f; }

#aside .nav-item:hover {
    background-color: #f8f8f8;
    cursor: pointer;
    padding-left: 40px;
    filter: grayscale(0%);
    transition: 0.5s;
}

#aside .nav-item:hover > a { font-weight: bold; }

#aside .nav-item::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    transition: 0.3s;
    background-color: #4a9b3f;
}

#aside .nav-item:hover::before { width: 5px; transition: 0.5s; }


#aside .sub-list {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #888;
    
    display: none;
    height: 0;
    transition: 0.3s;
    pointer-events: none;
}

#aside .sub-list .sub-item {
    height: 40px;
    line-height: 40px;
    padding-left: 65px;
    font-size: 0.85em;
    background-color: #fff;
    border: 1px solid #ddd;
    border-left: 0;
    border-right: 0;
}
#aside .sub-list .sub-item:not(:first-child) { border-top: none; }


#aside .nav-item.has-sub:hover { margin-bottom :120px; }
#aside .nav-item:hover > .sub-list { height: 120px; transition: 0.4s; pointer-events: all; display: flex; }
#aside .sub-item:hover { background-color: #f8f8f8; transition: 0.3s; color: #333; }

/*
 * 콘텐츠
 */

 

/* 비주얼 영역
*/

#visual { width: 100%; height: 400px; position: relative; box-shadow: 0 1px 3px 1px #00000020; }
#visual .images { width: 100%; height: 100%; overflow: hidden; position: relative; pointer-events: none; }
#visual .images > .image { width: 100%; height: 100%; background-size: cover; background-position: center center; position: absolute; left: 0; top: 0; animation: visualSlide ease 15s infinite; 
        background-color: #143a2d; background-blend-mode: lighten; filter: brightness(50%); }

#visual .image:nth-child(1) { animation-delay: -5s; background-image: url(../images/slide1.jpg); background-position: center 75%; }
#visual .image:nth-child(2) { animation-delay: -0s; background-image: url(../images/slide2.jpg); }
#visual .image:nth-child(3) { animation-delay: -10s; background-image: url(../images/slide3.jpg); }

@keyframes visualSlide {
    0%      { opacity: 0; transform: translateX(-100%); }
    20.000% { opacity: 0; transform: translateX(-100%); }
    33.333% { opacity: 1; transform: translateX(0%); }
    53.333% { opacity: 1; transform: translateX(0%); }
    66.666% { opacity: 0; transform: translateX(100%); }
    100.00% { opacity: 0; transform: translateX(100%); }
}

#visual .text { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); text-align: center; color: #fff; width: 70%; }
#visual .text h4 { font-family: "Segoe UI", sans-serif; font-weight: 100; font-size: 1.5em; line-height: 1em; margin-bottom: 0.2em; }
#visual .text h1 .black { font-weight: 900; }
#visual .text h1 { font-family: "Segoe UI", sans-serif; font-weight: 100; font-size: 2.5em; line-height: 1em; }
#visual .text p { line-height: 1.5em; white-space: pre-line; color: #ddd; }

#visual .process { width: calc(8px * 3 + 7px *2); height: 8px;  position: absolute; left: 50%; bottom: 30px; transform: translateX(-50%); 
                    display: flex; justify-content: space-between; align-items: center; overflow: hidden; }
#visual .process span { width: 8px; height: 8px; display: inline-block; background-color: #fff; border-radius: 50%; animation: processAnime 15s infinite; }
#visual .process span:nth-child(1) { animation-delay: -5s; }
#visual .process span:nth-child(2) { animation-delay: -0s; }
#visual .process span:nth-child(3) { animation-delay: -10s; }


@keyframes processAnime  {
    0%      { background-color: #fffa; }
    20.000% { background-color: #fffa; }
    33.333% { background-color: #63b757; }
    53.333% { background-color: #63b757; }
    66.666% { background-color: #fffa; }
    100.00% { background-color: #fffa; }
}


/* 인기 강의
*/

#popular .list { display: flex; justify-content: center; align-items: center; flex-wrap: wrap; }
#popular .list-item { position: relative; width: calc(100% / 3 - 10px); margin: 5px; padding: 150px 10px 10px; border: 1px solid #ddd; }
#popular .list-item .image { left: 0; top: 0; width: 100%; height: 150px; position: absolute; background-size: cover; background-position: center center; }
#popular .list-item .info { padding: 10px; }
#popular .list-item .title { font-weight: bold; }
#popular .list-item p { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

#popular .list-item.search { height: 245px; background-color: #346994; }
#popular .list-item.search .text { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: flex; justify-content: center; align-items: center; flex-direction: column; }
#popular .list-item.search label { width: 100%; height: 100%; position: absolute; left: 0; top: 0; }

#popular .list-item:nth-child(1) .image { background-image: url(../images/popular/1.JPG) }
#popular .list-item:nth-child(2) .image { background-image: url(../images/popular/2.JPG) }
#popular .list-item:nth-child(3) .image { background-image: url(../images/popular/3.JPG) }
#popular .list-item:nth-child(4) .image { background-image: url(../images/popular/4.JPG) }
#popular .list-item:nth-child(5) .image { background-image: url(../images/popular/5.JPG) }


/* 공지사항
*/

#notice .notice-slide { width: 100%; position: relative; height: 30px; overflow: hidden; }
#notice .notice-slide .item { position: absolute; left: 0; top: 0; width: 100%; height: 30px; line-height: 30px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; 
                                animation: notice 10s infinite;}
#notice .notice-slide .item:nth-child(1) { animation-delay: -5s; }

@keyframes notice {
    0% { transform: translateY(-100%); }
    40% { transform: translateY(-100%); }
    50% { transform: translateY(0); }
    90% { transform: translateY(0); }
    100% { transform: translateY(100%); }
}

/* 푸터
*/
#footer {
    position: relative;
    z-index: 101;
    margin-top:-2px;
    box-shadow: 0 0 3px 1px #00000020;
    background-color: #fff;
}





/* Media Query
*/

@media(max-width: 780px) {
    .text-sm-right { text-align: right; }
    .text-sm-center { text-align: center; }

    .order-sm-last { order: 100; }

    .border-sm-0 { border: none; }
    .bg-sm-none { background: none!important; background-color: transparent!important; }

    .justify-content-sm-center { justify-content: center; }
    .align-items-sm-center { align-items: center; }
    .d-sm-none { display: none; }

    .grid-sm-100 { border: none; background: none; flex: 0 0 calc(100%); max-width: calc(100%); }
    .grid-sm-50  { border: none; background: none; flex: 0 0 calc(50% - 5px); max-width: calc(50% - 5px); }

    .flex-sm-row { flex-direction: row; }
    .flex-sm-row-reverse { flex-direction: row-reverse; }
    .flex-sm-column { flex-direction: column; }

    .rotate-sm-90 { transform: rotate(90deg); }

    .w-sm-100 { width: 100%; }
    .w-sm-70 { width: 70%; }
    .w-sm-60 { width: 60%; }
    .w-sm-50 { width: 50%; }
    .w-sm-40 { width: 40%; }
    .w-sm-30 { width: 30%; }

    .d-sm-block { display: block; }
    .d-sm-inline { display: inline; }
    .d-sm-inline-block { display: inline-block; }
    .d-sm-flex { display: flex; }
 
    
    /* Header
    */
    #header {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 80px;
        background-color: #63b757;
        z-index: 150;
        box-shadow: 0 1px 3px 1px #00000020;
        padding-left: 70px;
    }
    #header .menu {
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
    }
    #header .search { border-radius: 0!important; }
    #header .search-bar { border-radius: 20px; }

    #main { margin-top: 80px!important; font-size: 14px; }

    /* Aside
    */
    #aside-wrap { position: static; transform: none; }
    #aside { position: fixed; left: 0; top: 0; height: 100%; box-shadow: 0 1px 3px 1px #00000020; background-color: #fff; padding-top: 100px; transform: translate(-100%); transition: 0.3s; padding-top: 80px; }
    #aside-open:checked ~ #main #aside { transform: translateX(0); transition: 0.5s; } 

    #aside .mobile-more { padding: 20px 0; }
    #aside .more-item { width: 100%; height: 45px; line-height: 45px; padding-left: 50px; font-size: 0.9em; color: #777; }
    #aside .more-item:hover { color: #4a9b3f; }
    #aside .other-item { padding: 10px 15px; font-size: 0.9em; background-color: #4a9b3f; color: #fff; }

    /* Visual
    */

    #visual { font-size: 14px; }
    #visual .text { width: 100%; padding: 0 30px; }

    /* Popular
    */

    #popular .list-item {  width: calc(100% / 2 - 10px);  }

    /* Footer
    */

    #footer { z-index: 50; }
}